* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.wrapper {
  width: 1100px;
  margin: auto;
  align-items: center;
}

.nama_website a {
  font-size: 20px;
  font-weight: bold;
  float: left;
  font-family: "Poppins";
  color: #fff;
}

.logo img {
  padding: 22px 10px 0px 0px;
  vertical-align: center;
  float: left;
  max-width: 50px;
  max-height: 30px;
}

.menu {
  float: right;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu a {
  color: #fff;
  display: flex;
  align-items: center;
}

.menu a i {
  margin-left: 7px;
}

.menu a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #0c2240;
  z-index: 10;
  justify-content: space-between; /* Ensure the elements are spread out */
  align-items: center;
}


main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.main-title {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.main-title h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.main-title nav a {
  margin: 0 10px;
  color: #bf4f26;
  text-decoration: none;
  font-size: 18px solid;
  position: relative;
  font-weight: 600;
}

.nav-item.active {
  color: #0c2240; /* Blue color when active */
}

.nav-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c2240;
  left: 0;
  bottom: -4px;
}

.nav-item:hover,
.nav-item:focus {
  color: #0c2240; /* Hover color */
}

.nav-item:hover::after,
.nav-item:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c2240;
  left: 0;
  bottom: -4px;
}

.venue-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.venue-form {
  flex: 1;
}

.venue-form form {
  display: flex;
  flex-direction: column;
}

.venue-form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #0c2240;
}

.venue-form input,
.venue-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.venue-form textarea {
  resize: none;
}

.venue-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  width: auto;
  height: 100%;
  justify-content: center;
}

.image-upload-container img {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-upload-container p {
  margin: 0;
  font-size: 16px;
  color: #0c2240;
}

.image-upload-container input[type="file"] {
  display: none;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.kapasitas-harga {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-group label {
  font-size: 14px;
  color: #0c2240;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.jenis-instansi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.jenis-instansi p {
  margin-bottom: 10px;
  align-items: center;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container input[type="radio"] {
  margin-right: 5px;
}

.radio-container label {
  align-items: center;
  margin-right: 20px;
}

.submit-group {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: #bf4f26;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 650;
  cursor: pointer;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: transparent;
  color: #0c2240;
  border: #bf4f26 solid;
}
