* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  align-items: center;
}

.nama_website a {
  font-size: 20px;
  font-weight: bold;
  float: left;
  font-family: "Poppins";
  color: #fff;
}

.logo img {
  padding: 22px 10px 0px 0px;
  vertical-align: center;
  float: left;
  max-width: 50px;
  max-height: 30px;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #0c2240;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
}

nav ul li a:hover {
  color: #bf4f26;
}

.login {
  background-color: #bf4f26;
  color: #ffffff;
  border-radius: 6px;
  padding: 5px 15px 5px 15px;
}

.login:hover {
  background-color: transparent;
  border: 2px solid #bf4f26;
  border-radius: 6px;
  color: white;
}

section {
  margin: 20px 0;
}

#contact h1 {
  font-size: 40px;
  color: #0c2240;
  line-height: 1.5;
}

#contact h2 {
  font-size: 20px;
  color: #0c2240;
  margin-bottom: 30px;
  line-height: 1;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contact-form {
  flex: 1;
}

.contact-form p {
  font-size: 16px;
  color: #0c2240;
  margin-bottom: 35px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #0c2240;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: none; /* Mencegah textarea diubah ukurannya */
}

.contact-form button {
  background-color: #bf4f26;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 650;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: transparent;
  color: #0c2240;
  border: #bf4f26 solid;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Menyelaraskan secara vertikal */
}

 .contact-info h2 {
  font-size: 40px !important;
  color: #0c2240;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info img {
  width: 100%;
  height: 300px; /* Mengatur tinggi gambar sesuai kebutuhan */
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 14px;
  color: #666;
}

footer {
  background-color: #0c2240;
  color: white;
  padding: 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img {
  margin-right: 10px;
}

.footer-left .nama_website a {
  font-size: 30px;
  font-weight: bold;
}

.footer-center {
  flex: 2;
  margin-right: 15px;
  margin-left: 30px;
}

.footer-center h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-center p {
  margin-bottom: 20px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-right h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right ul li {
  margin-bottom: 10px;
}

.footer-right ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-right ul li a i {
  margin-right: 8px;
}

.footer-right ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
