.popup {
  visibility: hidden;
  min-width: 250px;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: -100px; /* Start position above the view */
  transform: translateX(-50%);
  font-size: 17px;
  border: 2px solid;
  transition: top 0.5s ease-in-out; /* Smooth transition */
}

.popup.success {
  border-color: green;
  color: green;
}

.popup.error {
  border-color: red;
  color: red;
}

.popup.visible {
  top: 30px; /* End position */
}
