* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.wrapper {
  width: 1100px;
  margin: auto;
  align-items: center;
}

.nama_website a {
  font-size: 20px;
  font-weight: bold;
  float: left;
  font-family: "Poppins";
  color: #fff;
}

.logo img {
  padding: 22px 10px 0px 0px;
  vertical-align: center;
  float: left;
  max-width: 50px;
  max-height: 30px;
}

.menu {
  float: right;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu a {
  color: #fff;
  display: flex;
  align-items: center;
}

.menu a i {
  margin-left: 7px;
}

.menu a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  background-color: #0c2240;
  z-index: 10;
  justify-content: space-between; /* Ensure the elements are spread out */
  align-items: center;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.main-title {
  text-align: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.main-title h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.main-title nav a {
  margin: 0 10px;
  color: #bf4f26;
  text-decoration: none;
  font-size: 18px solid;
  position: relative;
  font-weight: 600;
}

.nav-item.active {
  color: #0c2240; /* Blue color when active */
}

.nav-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c2240;
  left: 0;
  bottom: -4px;
}

.nav-item:hover,
.nav-item:focus {
  color: #0c2240; /* Hover color */
}

.nav-item:hover::after,
.nav-item:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c2240;
  left: 0;
  bottom: -4px;
}

.image-cardB {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  color: #0c2240; 
  margin-bottom: 20px; /* Space between the title and image */
}

.image-containerB {
  position: relative;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 1285px; /* Ensure the container doesn't exceed the image width */
  margin-bottom: 20px;
}

.image-containerB img {
  width: 1285px;
  height: 200px; /* Maintain aspect ratio */
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-title {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  color: white; /* White color for "GELANGGANG PEMUDA" */
}

.venue .title {
  color: #0c2240; 
  margin-bottom: 20px; /* Space between the title and image */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin-top: 10px;
}

.card {
  border: 2px solid #e4e4e4;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 245px;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  padding: 10px 10px 0 10px;
}

.image-container img {
  width: 100%; /* Adjust width to account for padding */
  height: auto;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 17px;
  font-size: 24px;
  color: #fff; /* Warna putih untuk visibilitas lebih baik */
  cursor: pointer;
}

.heart-icon:hover {
  position: absolute;
  top: 10px;
  right: 17px;
  font-size: 24px;
  color: #0c2240;
  cursor: pointer;
}

.heart-icon .fas {
  color: #0c2240;
}

.info {
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  font-weight: 600;
}

.plus-icon {
  cursor: pointer;
  font-size: 24px;
  color: #555;
  margin-left: 10px;
  margin-top: 10px;
}

.plus-icon .fa-solid {
  color: #0c2240;
}

.location {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 10px 10px 10px;
  font-weight: 600;
}

.location i {
  margin-right: 5px;
}

